.navDesktop_logo{
    position: relative;
    margin: 0 !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

.navDesktop_nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navDesktop_nav ul{
    position: relative;
    display: flex;
}

.navDesktop_nav_li{
    position: relative;
    margin: 0 10px;
    padding: 5px  10px;
    font-size: 1.5em;
    color: var(--global-text_color);
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
    transition: .5s;
    display: flex;
    align-items: center;
}

.navDesktop_nav_li:active{
    transform: scale(.9);
}

.navDesktop_nav_li::before{
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--global-secondary-color);
    bottom: 0px;
    transition: 0.5s;
    border-radius: 4px;
}

.navDesktop_nav_li:hover::before{
    width: 100%;
}


.activeClass{
    background-color: var(--global-gray);
    border-radius: 4px;
    transition: .5s;
}


@keyframes activeClass {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}