.home_section {
    color: var(--global-primary-text_color);
    min-height: 90vh;
    display: flex;
}

.presentation_wrapper{
    display: flex;
    width: 100%;
}

.text_side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 60%;
    padding-left: 5%;
}

.text_side h3{
    font-size: 5rem;
}
.text_side p{
    font-size: 1.5rem;
    width: 100%;
    margin: 0;
}

.text_side p span{
    color: var(--global-tertiary-color);
    cursor: pointer;
}

.text_side p span:hover{
    text-decoration: underline;
}

.action_btn{
    display: inline-block;
    color: #fff;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 35px;
    margin-right: 10px;
    cursor: pointer;
    transition: .5s;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--global-secondary-color);
}
.action_btn:hover{
    transform: scale(1.05);
}

.action_btn:nth-child(1){
    background-color: var(--global-secondary-color);
    animation: btnFlicker .5s ease-in-out infinite alternate;
}

.action_btn:nth-child(1):hover{
    animation: none;
}

.action_btn:nth-child(2){
    border: 1px solid var(--global-secondary-color);
    color: var(--global-secondary-color);
}

.action_btn:nth-child(2) span{
    position: relative;
    z-index: 10;
}

.action_btn:nth-child(2):hover{
    color: #fff;
}

.action_btn:nth-child(2)::after{
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 00px;
    height: 00px;
    transition: .7s;
    background-color: var(--global-secondary-color);
    border-radius: 50%;
}

.action_btn:nth-child(2):hover::after{
    width: 170px;
    height: 170px;
}

.action_btn{
    font-size: 2rem;
    margin-bottom:0 ;
}

.action_btn{
    font-size: 1.2rem;
}

.live_side{
    width: 40%;
}

@keyframes btnFlicker {
    0%{
        opacity: 1;
    }
    
    50%{
        opacity: .85;
    }
    
    100%{
        opacity: .6;
    }
}