html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background-color: var(--global-background-color);
  color: var(--global-text_color);
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
  width: 5px;
  height: 5px;
  }
body::-webkit-scrollbar-thumb{
  background: #B3AFB3;
  border-radius: 30px;
  }
body::-webkit-scrollbar-thumb:hover{
  background: #B3AFB3;
  }
body::-webkit-scrollbar-track{
  background: #000000;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

body > div{
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #04c3e9;
  color: var(--global-tertiary-color);
  display: inline-block;
  text-decoration: none;
}

a:hover{
  color: var(--global-text_color);
}

p, h5, h4{
  margin: 0;
}

.non_select {
  -moz-user-select: none; 
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.fb_reset{
  display: none;
}

:root{
  /* Variables generales */
  --global-background-color: var(--ligth-background-color);
  --global-background-color_opacity: var(--ligth-background-color_opacity);
  --global-primary-color: var(--ligth-primary-color);
  --global-secondary-color: var(--ligth-secondary-color);
  --global-tertiary-color: var(--ligth-tertiary-color);
  --global-text_color: var(--ligth-primary-text_color);

  /* Colores */
  --global-ligth-gray: #F7F7FF;
  --global-gray:#D9D9D9;
  --global-gray2:#8C8C8C;
  --global-gray3:#595959;
  --global-gray4:#363636;
  --global-gray5:#212121;

  --global-error:#f44336;
  --global-warning:#ffa726;
  --global-succesfully:#66bb6a;

  /* Variables de tema */
  --ligth-background-color: #fcfcfc;
  --ligth-background-color_opacity:#ffffff50;
  --ligth-primary-color:#F2C84B;
  --ligth-secondary-color:#F23F5E;
  --ligth-primary-text_color: #000;

  /* Variables de animation.css */
  /* --animate-duration: 500ms; */
}